* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  font-size: 175%;
}
article {
  position: relative;
  font-size: 125%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
section {
  position: relative;
  float: left;
  background-color: gray;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
section > p:nth-child(1) {
  float: right;
  text-align: center;
  border-bottom: 2px;
  border-top: 0px;
  border-right: 0px;
  border-left: 2px;
  border-style: solid;
  border-color: black;
  margin: 0px;
  padding: 5px;
  width: auto;

}
section > p:nth-child(2) {
  padding: 7px;
}
#p1 {
  background-color: pink;
}
#p2 {
  background-color: red;
}
#p3 {
  background-color: orange;
}
@media (min-width:992px) {
  
  section {
    width: 31.3%;
    margin: 1%;
  }
}
@media (min-width:768px) and (max-width:991px) {
  
  section {
    width: 48%;
    margin: 1%;
  }
  section > p:nth-child(1) {
    width: 30%;
  }

}
@media (max-width:767px) {
  
  section {
    width: 100%;
    margin: 1%;
  }
  section > p:nth-child(1) {
    width: 30%;
  }

}

